<div class="container">
<br><br>
<h3>My work</h3>
<br>
<div class="content">
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">The Yummy Tummy Recipe App</h5>
    <h6 class="card-subtitle mb-2 text-muted">MEAN STACK</h6>
      <img src="assets/yt.jpg" style="height: 240px; width: 100%; display: block;">
    <p class="card-text">MEAN stack web application </p>
    <a href="https://evening-river-60899.herokuapp.com" class="card-link">Go to visit Yummy Tummy</a>
  </div>
</div> -->

<div class="box1">
  <h4>MEAN stack recipe app</h4>
<a href="https://evening-river-60899.herokuapp.com">
    <img src="assets/yt.jpg" height="350" width="366" alt="">
  </a>
</div>

<div class="box2">
  <h4>Simple website sample</h4>
  <a href="http://simplewebby.com/olex/">
    <img src="assets/o.jpg" height="350" width="366" alt="">
  </a>
</div>
<div class="box3">
  <h4>Number Facts App</h4>
<a href="http://simplewebby.com/Ajax/index.html">
    <img src="assets/a.jpg" height="350" width="366" alt="">
  </a>
</div>
<div class="box4">
  <h4>HR Managment App</h4>
<a href="http://simplewebby.com/hr/landing.html">
    <img src="assets/HR.jpg" height="350" width="366" alt="">
  </a>
</div>
<div class="box5">
  <h4>Building Buddy Project</h4>
<a href="http://simplewebby.com/bb/home.html">
    <img src="assets/BB.jpg" height="350" width="366" alt="">
  </a>
</div>
 <div class="box6">
   <h4>Simple Weight Converter</h4>
<a href="http://simplewebby.com/WeightConv/index.html">
    <img src="assets/wc.jpg" height="350" width="366" alt="">
  </a>
</div>
  </div>
  <br><br>
<a class="btn btn-outline-info" href="https://github.com/simplewebby">More Projects</a>


</div>
<br><br><br>
<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">

  <div style="background-color: #e307fb;">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text">Let's get connected with us on social networks!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class=" col-md-6 col-lg-7 text-center text-md-right">
          <!--Linkedin-->
<a href="https://github.com/simplewebby" target="_blank" class="li-ic">

            <i class="fab fa-github-square fa-4x"></i>
          </a>
<a href="https://www.linkedin.com/in/tsagan-garyaeva-599473157/" target="_blank" class="li-ic">

            <i class="fab fa-linkedin fa-4x"></i>
          </a>
<a href="https://twitter.com/simplewebby" target="_blank" class="li-ic">

            <i class="fab fa-twitter-square fa-4x"></i>
          </a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>
<a href="http://simplewebby.com" target="_blank">SIMPLEWEBBY.COM</a>

          </strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

      </div>
      <!--/.First column-->



      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact Info</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Howell, NJ 07731, US</p>
        <p>
          <i class="fa fa-envelope mr-3"></i>
          <a href="mailto: simplewebby@outlook.com">Email Me</a>
        </p>

        <p>
          <i class="fa fa-phone mr-3"></i> 732 685 7158</p>

      </div>
      <!--/.Fourth column-->

    </div>
  </div>

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright SimpleWebby.com
  </div>
  <!--/.Copyright -->

</footer>
<!--/.Footer-->





