


<div class="container">

  <div class="box box1"><br><br>
    <h3>about me</h3>
  </div>
<div class="box box2">
  <img src="assets/png.png" alt="">
</div>

<div class="box box3">
  <br><br><br>
<h5>I'm a freelance web developer who likes to solve problems by breaking them into simple solutions. I create simple and awesome user interfaces. </h5><br><br><br>
<h5>I'm always open to exciting new job opportunities. Please
  <a href="mailto: simplewebby@outlook.com">get in touch,</a>
  it would be awesome to hear from you.
</h5>
</div>
</div>
<br>
<app-footer></app-footer>
