footer {

  left: 0;
  bottom: 0;
  width: 100%;

}
.fab{
  color: #fff;
  padding-right: 20px;
}
.fab:hover {
  color: silver;

}
i {
  color: fuchsia;
}
p {
  color: #fff;
}
p a{
color: #fff;
}
p a:hover {
  color: fuchsia;
  text-decoration: none;
}
 strong a {
   color: fuchsia;
 }
strong a:hover {
  color: #fff;
  text-decoration: none;

}
