
<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">

  <div style="background-color: fuchsia;">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
<div class=" col-md-6 col-lg-7 text-center text-md-right">
   <!--Linkedin-->
<a href="https://github.com/simplewebby" target="_blank" class="li-ic">
<i class="fab fa-github-square fa-4x"></i>
 </a>
<a href="https://www.linkedin.com/in/tsagan-garyaeva-599473157/" target="_blank" class="li-ic">

<i class="fab fa-linkedin fa-4x"></i>
</a>
<a href="https://twitter.com/simplewebby" target="_blank" class="li-ic">

  <i class="fab fa-twitter-square fa-4x"></i>
</a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
<strong>
  <a href="http://simplewebby.com" target="_blank">SIMPLEWEBBY.COM</a>
</strong>

        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

      </div>
      <!--/.First column-->



      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact Info</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Howell, NJ 07731, US</p>
        <p>
<i class="fa fa-envelope mr-3"></i>
<a href="mailto: simplewebby@outlook.com">Email Me</a>

</p>

        <p>
          <i class="fa fa-phone mr-3"></i> 732 685 7158</p>

      </div>
      <!--/.Fourth column-->

    </div>
  </div>

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright SimpleWebby.com
  </div>
  <!--/.Copyright -->

</footer>
<!--/.Footer-->




