
<br>
<div class="container text-center">

<br>
<br>

  <div class="content">
<h5 [@myAnim]='state' (mouseover)="animateMe()">Hi, my name is
  <span>Tsagan</span>
</h5>
<br><br>

<div id='container' [@listAnimation]="items.length">

  <!-- <button (click)="pushItem()" >Add Item</button>
<button (click)="removeItem()">Remove Item</button> -->


  <div id="list" *ngFor="let item of items">
    <p [@myAnim]='state' (mouseenter)="animateMe()">{{ item }}</p>

  </div>
<i class="fas fa-arrow-alt-circle-down fa-3x"></i>
</div>
<a id="gh" href="https://github.com/simplewebby" target="_blank">
<i class="fab fa-github-square fa-5x"></i></a>
  </div>
</div><br><br><br>

<app-footer></app-footer>
